#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  
  #container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/a.jpeg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }

  *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  .animated-image {
    animation: flip-scale-2-hor-top 2s ease-in-out infinite; /* Aplica la animación */
  }
  
  @keyframes flip-scale-2-hor-top {
    0% {
      transform: translateY(0) rotateX(0) scale(1);
      transform-origin: 50% 0%;
    }
    50% {
      transform: translateY(-50%) rotateX(-90deg) scale(2);
      transform-origin: 50% 50%;
    }
    100% {
      transform: translateY(-100%) rotateX(-180deg) scale(1);
      transform-origin: 50% 100%;
    }
  }
  