#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
  width: 100vw;
  position: relative;
}


#container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/a.jpeg');
  background-size: cover;
  opacity: 0.5; /* Ajusta la opacidad según tu preferencia */
  z-index: -1; /* Asegura que esté detrás de los elementos hijos */
}

.aula{
  height: 200px;
  width: auto;
  border: 3px solid rgb(49, 46, 46);
  border-radius: 10%;
}

*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
